* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
}

/* Menu */
#menu {
  display: flex;
  justify-content: space-between;
  background-color: #ffcc00;
  padding: 25px;
}

.logo {
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.navegacao ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navegacao ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Sobre */
#sobre {
  text-align: center;
  padding: 60px 20px;
  background-color: #111;
}

.sobre-imagem {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffcc00;
}

.sobre-nome {
  color: #ffcc00;
  font-size: 36px;
  margin-top: 20px;
}

.sobre-titulo {
  color: #ddd;
  font-size: 24px;
  margin-top: 10px;
}

.sobre-descricao {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;
}

/* Formação / Experiências */
#formacao, #experiencias, #contato {
  padding: 50px 10%;
}

.formacao-titulo,
.experiencia-titulo,
.contato-titulo,
.portfolio-titulo {
  color: #ffcc00;
  font-size: 30px;
  margin-bottom: 30px;
}

.formacao-lista, .experiencia-lista {
  max-width: 700px;
  margin: auto;
}

.formacao-lista h3, .experiencia-lista h3 {
  font-size: 20px;
  color: #ffcc00;
}

.formacao-lista a, .experiencia-lista a {
  color: #fff700;
  font-size: 18px;
  text-decoration: underline;
}

/* Contato */
.contato-formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  margin: auto;
}

.contato-input {
  display: flex;
  flex-direction: column;
}

.contato-input input,
.contato-input textarea {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ffcc00;
  border-radius: 8px;
  background-color: #1a1a1a;
  color: #fff;
}

.btn-enviar {
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Portfólio */
#portfolio {
  padding: 50px 10%;
  background-color: #111;
}

.portfolio-galeria {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  width: 250px;
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 3px solid #ffcc00;
  border-radius: 10px;
  margin-bottom: 10px;
}

.portfolio-item p {
  color: #fff;
  font-size: 16px;
}

/* Rodapé */
.rodape {
  background-color: #ffcc00;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  align-items: center;
  flex-wrap: wrap;
}

.rodape-contatos a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.logo-minas {
  height: 60px;
}

